		<!-- This is a template driven form-->
		
			<!-- <div class="row justify-content-center">
				<div class="col-md-4 col-sm-6 border rounded login">
					<h2>Please Sign in</h2>
					<hr>
					<form novalidate #loginForm = "ngForm">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" #spy="ngModel" minlength="4" name="username" [(ngModel)]="userAuth.username" class="form-control" id="username" aria-describedby="UsernameHelp" placeholder="Enter Username" required autofocus>
							<span *ngIf="spy.invalid && (spy.dirty || spy.touched)">
									Username is required
							</span>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" #passwordspy="ngModel" minlength="6" name="password" [(ngModel)]="userAuth.password" class="form-control" id="password" placeholder="Password" required autofocus>
							<span *ngIf="passwordspy.invalid && (passwordspy.dirty || passwordspy.touched)">
								Password is required
						</span>
						</div>
						<button type="submit" class="btn btn-lg btn-block" [ngClass]="{'btn-primary': loginForm.form.valid, 'btn-secondary': !loginForm.form.valid}" (click)="signIn()" [disabled]="!loginForm.form.valid">Sign in</button>
					</form>
				</div>
			</div> -->

			<!-- Starting reactive forms-->
<!-- <a [routerLink] = "['/login']" >Click here for hello</a> -->
<!-- <a [routerLink]="[]" fragment="some-element" (click)="gotoHashtag('some-element')">Jump to Element</a> -->
			<div class="row justify-content-center">
				<div class="col-md-4 col-sm-6 border rounded login">
					<h2>Please Sign in</h2>
					<hr>
					<form novalidate [formGroup]="userAuthForm">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" formControlName="username" class="form-control" id="username" aria-describedby="UsernameHelp" placeholder="Enter Username" required autofocus>
							<!-- {{userAuthForm.get('username').pristine}} -->
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" required autofocus>
						</div>
						<button type="submit" class="btn btn-lg btn-block" [ngClass]= "{'btn-primary': (userAuthForm.status === 'VALID'), 'btn-secondary': (userAuthForm.status === 'INVALID')}"(click)="signIn()" [disabled]="userAuthForm.status === 'INVALID'">Sign in</button>
					</form>
					<!-- {{userAuthForm.value | json}} -->
					<!-- {{userAuthForm.status}} -->
					<!-- {{userAuthForm.errors}} -->
				</div>
			</div>