<!-- <form novalidate [formGroup]="userDetailForm" > -->
    <!-- <form novalidate [formGroup]="userDetailForm"> -->
  
    <div class="row">
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">User Details</h4>
          <form novalidate [formGroup]="userDetailForm">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input [readonly]="toogleReadOnly" type="text" formControlName="fname" class="form-control" id="firstName" placeholder="">
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input [readonly]="toogleReadOnly" type="text" formControlName="lname" class="form-control" id="lastName" placeholder="" value="" required>
                
              </div>
            </div>
  
            <div class="mb-3">
              <label for="username">Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input [readonly]="toogleReadOnly" type="text" formControlName="uname" class="form-control" id="username" placeholder="Username" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  
<!-- </form> -->